#map {
    width: 100%;
    height: 500px; /* Adjusted height to fill the viewport */
}

.boton{
    background-color:aqua;
    color: black;
    height: 40px;
    font-size: 20px;
}

.area_label{
    font-size: 20px;
}